@model WayfindingCasusB2C2.Data.Detailid
@{
    Layout = null;
}
   


<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 0px;
        background-color: #606060;
    }

    .item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 70px;
    font-size: 10px;
    text-align: center;
    }
    
    .balie {
        grid-area: 1 / 1 / 2 / 2

    }

    .bar {
        grid-area: 3 / 1 / 4 / 2

    }

    .toiletten {
        grid-area: 3 / 6 / 4 / 7

    }

    .ingang {
        grid-area: 2 / 1 / 2 / 2
    }

    .hal {
        grid-area: 2 / 2 / 2 / 6
    }

    .trap {
        grid-area: 2 / 6 / 2 / 7
    }

    .startup1 {

    }

    .startup2 {

    }

    .startup3 {

    }

    .startup4 {

    }

    .startup5 {

    }

    .startup6 {
        grid-area: 3 / 2 / 4 / 3

    }

    .startup7 {
        grid-area: 3 / 3 / 4 / 4

    }

    .startup8 {
        grid-area: 3 / 4 / 4 / 5
    }

    .startup9 {
        grid-area: 3 / 5 / 4 / 6

    }


</style>
<body>
    <div class="grid-container">
        <div class="item balie"><button>Informatiebalie</button></div>
        <div class="item bar"><button>Restaurant/Bar</button></div>
        <div class="item toiletten"><button>Toiletten</button></div>
        <div class="item ingang"><button>Ingang</button></div>
        <div class="item hal"><button>Hal</button></div>
        <div class="item "trap"><button>Trap</button></div>
        <div @Model.Startup1>
        <div class ="item startup1"><button onclick="location.href='@Url.Action("Index", "Bedrijf")'">Startup 1</button></div>
       </div>
        <div class="item startup2"><button>Startup 2</button></div>
        <div class="item startup3"><button>Startup 3</button></div>
        <div class="item startup4"><button>Startup 4</button></div>
        <div class="item startup5"><button>Startup 5</button></div>
        <div class="item startup6"><button>Startup 6</button></div>
        <div class="item startup7"><button>Startup 7</button></div>
        <div class="item startup8"><button>Startup 8</button></div>
        <div class="item startup9"><button>Startup 9</button></div>
        





    </div>


    @ViewBag.DetailId


</body>